# === Node.js (Frontend) ===
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/
frontend/.next/
frontend/.cache/

# === Python/Django (Backend) ===
backend/__pycache__/
backend/**/*.py[cod]
# backend/db.sqlite3
backend/.env
backend/media/
backend/staticfiles/
backend/*.log

# Virtual Environments (egal wo sie liegen)
.venv/
venv/
ENV/
env/

# === Allgemein ===
*.log
*.bak
*.tmp
*.swp
*.swo
*.tgz
*.tar.gz

# Testdateien / Output
*.coverage
.coverage
htmlcov/
.pytest_cache/

# === IDEs/Editoren ===
.vscode/
.idea/

# === Betriebssystem-Dateien ===
.DS_Store
Thumbs.db
desktop.ini
